#rigth{background: #eef1f5;padding: 0px;width: 100%}
.page-header{
    height: 6%;
}
.page-container{
    height: 94%;
}
.page-sidebar{
    width: 16.66666667%;float: left
}
.page-content{
    margin: 0px auto;
    /* margin-top: 89px; */
    /* margin-bottom: 89px; */
    overflow: auto;
    height: 100%;
    padding: 15px 46px;
    width: 83.33333333%;float: left
}
#menu{
    padding-top: 10px;
    background-color: #333;height: 100%;color: #bbb;
}
#menu ul li{
    font-size: 13px;
    padding: 11px 0 10px 18px;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid #151515;
    -moz-box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px rgba(255, 255, 255, 0.1);
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
}
.selected{background-color: #6597e6!important; color: #fff;}
.selected:hover{background-color: #6597e6; color: #fff;}
.selected:before{
    content: "";
    display: block;
    float: right;
    position: absolute;
    background: 0 0;
    width: 0;
    height: 0;
    right: 0px;
    top: 7px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff;
}
#menu ul li:hover{background-color: #6597e6; color: #fff;}
/*estilos del nav*/
@media (min-width: 320px) and (max-width: 480px){
    body{height: auto;}
    .page-sidebar{
        width: 100%;
    }
    #menu{
        display: block;
    }
    #nav{position: relative;}
    #container{margin-top: 10px;width: 100%;overflow: auto;}
}
/*estilos dasbopard stat*/
.dashboard-stat {
    display: block;
    margin-bottom: 25px;
    overflow: hidden;
    //border-radius: 4px;
}
.dashboard-stat.blue {
    background-color: #3598dc;
}
.dashboard-stat.red {
    background-color: #e7505a;
}
.dashboard-stat.green {
    background-color: #32c5d2;
}
.dashboard-stat.purple {
    background-color: #8E44AD;
}
.dashboard-stat .visual {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 35px;
}
.dashboard-stat .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}
.dashboard-stat .visual>i {
    margin-left: -35px;
    font-size: 110px;
    line-height: 110px;
}
.dashboard-stat .details {
    /*position: absolute;*/
    right: 15px;
    padding-right: 15px;
}
.dashboard-stat .details .number {
    color: #FFF;
}
.dashboard-stat .details .number {
    padding-top: 25px;
    text-align: right;
    font-size: 34px;
    line-height: 36px;
    letter-spacing: -1px;
    margin-bottom: 0;
    font-weight: 300;
}
.dashboard-stat .details .desc {
    color: #FFF;
    opacity: 1;
    filter: alpha(opacity=100);
}
.dashboard-stat .details .desc {
    text-align: right;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
}
.dashboard-stat .more {
    color: #FFF;
    clear: both;
    display: block;
    padding: 6px 10px;
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 16px;
    opacity: .7;
    filter: alpha(opacity=70);
}
.dashboard-stat .fa-arrow-circle-o-right{right: 8px;position:absolute;font-size: 30px;margin-top: 5px;}


/*portlet graficos estadistico*/
.portlet.light.bordered {
    border: 1px solid #e7ecf1!important;
}
.portlet.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}
.portlet.light>.portlet-title {
    padding: 0;
    min-height: 48px;
}
.portlet.light>.portlet-title>.caption {
    color: #666;
    padding: 10px 0;
}

.portlet>.portlet-title>.caption {
    float: left;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}

.portlet.light>.portlet-title>.caption>.caption-subject {
    font-size: 16px;
}
.font-green {
    color: #32c5d2!important;
}
.uppercase {
    text-transform: uppercase!important;
}
.bold {
    font-weight: 700!important;
}
.portlet>.portlet-title>.caption>.caption-helper {
    padding: 0;
    margin: 0;
    line-height: 13px;
    color: #9eacb4;
    font-size: 13px;
    font-weight: 400;
}

/*css para listado*/
#listado{min-width: 300px;padding: 0 15px}
#list-cab{padding: 10px;background-color: #7fd17f;color: #fff;font-size: 18px}
#list-cab i{font-size: 25px;padding-right: 10px}
#fot-list{width: 50px;height: 50px}
#list-cuerpo{padding: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #7fd17f;
}
.listado{    margin: 0 auto;}
.listado th,.listado td{padding: 10px 18px;border: 1px solid #DBDEE0;text-align: left;}
.listado th{padding-right: 30px;}
.fa.red,.fa.green{
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 50%;
    
}
i.fa.fa-book {
    padding: 10px 12px;  
}
i.fa.fa-book {
    color: #6666ff;
        font-size: 31px
}
i.fa.fa-user-plus {
    padding: 10px 12px;  
}
i.fa.fa-user-plus {
    color: #6666ff;
        font-size: 31px
}
i.fa.fa-times.red {
    padding: 10px 12px;
}
i.fa.fa-pencil-square-o {
    font-size: 31px;
    color: #35C335;
}
i.fa.fa-trash-o {
    font-size: 31px;
    color: #E7505A;
}
.fa.red{background-color: red;}
.fa.green{background-color: #7fd17f;}
/*css para el paginador*/
#list-pie{color: #a2a2a2;padding: 5px;overflow: hidden;font-size: 14px;margin-top: 10px;}
.text-pos{float: left;color: #333;padding-top: 10px;}
.paginador{float: right;    display: inline-block;visibility: visible;margin: 2px 0px;}
.paginador li{float: left;display: inline;}
.paginador li a{    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;}
.paginador .selected a{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    cursor: default;} 

.row{
    margin-top: 10px;
    margin-bottom:10px; 
}
div#filtros2 {
    overflow: hidden;
    padding: 10px 0px;
    border: 1px solid #7fd17f;
}
#filtros2 div {
    float: left;
    width: 230px;
    padding: 0px 10px;
}
#filtros2 .cod {
   margin-right: 30px;
    width: 100px;
}
div#filtros {
    overflow: hidden;
    padding: 10px 0px;
    border: 1px solid #7fd17f;
    position: relative;
}
#filtros div {
    float: left;
    width: 132px;
    padding: 0px 10px;
}
input[type="text"] {
    width: 90%;
    border: 1px solid #B2D4F5;
    padding: 5px 5px;
}
select {
    width: 100%;
    border: 1px solid #B2D4F5;
    padding: 5px 5px!important;
}
input[type="submit"] {
    padding: 5px 10px;
    background-color: #64BAEF;
    color: #FFF;
    border-radius: 8px;
    margin-top: 18px;
    cursor: pointer;
}

/*css para edicion de usuarios*/
.profile-sidebar {
   /*float: left;
    width: 300px;
    margin-right: 20px;*/
}
.portlet {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 4px;
    
}
.profile-sidebar-portlet {
    padding: 30px 0 0!important;
}
.profile-userpic {
    text-align: center;
}
.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
}
.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}
.profile-usertitle-name {
    color: #5a7391;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
}
.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 7px;
}
.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    margin-right: 5px;
}
.profile-userbuttons button {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
}
.profile-usermenu {
    margin-top: 30px;
    padding-bottom: 20px;
}
.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}
.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 16px;
}
li [class*=" icon-"], li [class^=icon-] {
    top: 1px;
    position: relative;
}
li [class*=" fa-"], li [class*=" glyphicon-"], li [class*=" icon-"], li [class^=fa-], li [class^=glyphicon-], li [class^=icon-] {
    display: inline-block;
    width: 1.25em;
    text-align: center;
}

[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], [class*=" icon-"], [class^=fa-]:not(.fa-stack), [class^=glyphicon-], [class^=icon-] {
    display: inline-block;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}
.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
        margin-left: 0px;
}

.portlet.light {
    padding: 12px 20px 15px;
    background-color: #fff;
}
.portlet>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 16px;
    font-weight: 400;
}
.nav>li>a {
    padding: 10px 15px;
}
.nav:after, .nav:before {
    content: " ";
    display: table;
}

/*css para botones*/
.btn-circle {
    border-radius: 25px!important;
}
.btn {
    outline: 0!important;
}
.btn, .form-control {
    box-shadow: none!important;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.btn.red:not(.btn-outline) {
    color: #fff;
    background-color: #e7505a;
    border-color: #e7505a;
}
.btn.green:not(.btn-outline) {
    color: #FFF;
    background-color: #32c5d2;
    border-color: #32c5d2;
}
.btn.default:not(.btn-outline) {
    color: #666;
    background-color: #e1e5ec;
    border-color: #e1e5ec;
}


.portlet>.portlet-title>.nav-tabs {
    background: 0 0;
    margin: 1px 0 0;
    float: right;
    display: inline-block;
    border: 0;
}
.tabbable-line>.nav-tabs {
    border: none;
    margin: 0;
}
.nav-pills, .nav-tabs {
    margin-bottom: 10px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.portlet.light>.portlet-title>.nav-tabs>li {
    margin: 0;
    padding: 0;
}
.tabbable-line>.nav-tabs>li.active {
    background: 0 0;
    border-bottom: 4px solid #36c6d3!important;
    position: relative;
}
.portlet>.portlet-title>.nav-tabs>li {
    background: 0 0;
    margin: 0;
    border: 0;
}
.tabbable-line>.nav-tabs>li {
    margin: 0;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    cursor: pointer;
}
.portlet.light>.portlet-title>.nav-tabs>li.active>a, .portlet.light>.portlet-title>.nav-tabs>li:hover>a {
    margin: 0;
    background: 0 0;
    color: #333;
}
.portlet.light>.portlet-title>.nav-tabs>li>a {
    margin: 0;
    padding: 12px 13px 13px;
    font-size: 13px;
    color: #666;
}
.portlet>.portlet-title>.nav-tabs>li.active>a, .portlet>.portlet-title>.nav-tabs>li:hover>a {
    color: #333;
    background: #fff;
    border: 0;
}
.tabbable-line>.nav-tabs>li.active>a {
    border: 0;
    color: #333;
}
.portlet>.portlet-title>.nav-tabs>li>a {
    background: 0 0;
    margin: 5px 0 0 1px;
    border: 0;
    padding: 8px 10px;
    color: #fff;
}
.tabbable-line>.nav-tabs>li>a {
    background: 0 0!important;
    border: 0;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
    color: #737373;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
}
.nav-pills>li>a, .nav-tabs>li>a {
    font-size: 14px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}
.tabbable-line>.nav-tabs>li.open, .tabbable-line>.nav-tabs>li:hover {
    background: 0 0;
    border-bottom: 4px solid #9fe4ea;
}
.hide {
    display: none!important;
}
.font-blue-madison {
    color: #578ebe!important;
}



.tab-content>.tab-pane {
    display: none;
}
.tab-content>.active {
    display: block;
}

.form-group {
    margin-bottom: 15px;
}
.control-label {
    margin-top: 1px;
    font-weight: 400;
}
label {
    font-weight: 400;
}
label {
    display: inline-block;
    margin-bottom: 5px;
}
.img-responsive, .img-thumbnail, .table, label {
    max-width: 100%;
}
.form-control {
    outline: 0!important;
}
.btn, .form-control {
    box-shadow: none!important;
}
.form-control {
    width: 100%!important;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    box-sizing: border-box;
}
.form-control, output {
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    display: block;
}
textarea.form-control {
    height: auto;
}
.form-control {
    outline: 0!important;
}

.btn, .form-control {
    box-shadow: none!important;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
textarea.form-control ,input[type=password]{
    width: 98%!important;
}



.margin-top-10 {
    margin-top: 10px!important;
}

.label {
    text-shadow: none!important;
    font-size: 14px;
    font-weight: 300;
    padding: 3px 6px;
    color: #fff;
    font-family: "Open Sans",sans-serif;
}
.label-danger {
    background-color: #d9534f;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    color: #fff;
    border-radius: .25em;
}
.badge, .label {
    font-weight: 700;
    line-height: 1;
    white-space: nowrap;
    text-align: center;
}


.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}
.thumbnail {
    padding: 4px;
    line-height: 1.42857;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.form-group select {
    width: 100%;
    border: 1px solid #B2D4F5;
    padding: 5px 5px!important;
}

.profile-stat-title{color: #5b9bd1;}


.margin-top-20 {
    margin-top: 20px!important;
}
.profile-desc-link i {
    width: 22px;
    font-size: 19px;
    color: #abb6c4;
    margin-right: 5px;
}
.profile-desc-link a {
    font-size: 14px;
    font-weight: 600;
    color: #5b9bd1;
}
.profile-stat-separ{
        padding: 0 15px;
    border-bottom: 1px solid #efefef;
}

.profile-region{margin: 0px 0px 20px 0px}
.profile-region>div{padding: 2px 0px;}
.profile-region .profile-stat-title{font-size: 18px;}
.profile-stat-title {
    color: #7f90a4;
    font-size: 25px;
    text-align: center;
}
.profile-stat-text {
    color: #5b9bd1;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
}


#cargando{    color: white;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.68);
    left: 0;
    top: 0;
    z-index: 999;display: none;}
#cargando p{    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 18px;}






/*css de llenado*/

#llenado_encuesta h3{    text-align: center;
    font-size: 24px;
    padding: 20px 0px;
    color: #B7B7B7;
}
.fond{background-color: #A2D5F9;}
#tabs{width: 100%;display: inline-block;text-align: center;    margin: 0px 0px 20px 0px;}
#tabs .selected:before{display: none;}
#tabs ul{display: inline-block;}
#tabs li{float: left;
    border-radius: 20px 20px 0px 0;
    /* line-height: 1.5; */
    font-size: 18px;
    padding: 10px;
    border: 1px solid #CBCDD1;cursor: pointer;
    color: #fff;
}
#tabs .tabscuadros li{
    background-color: #7FD17F;
}
#tabs .tabsreultados li{
    background-color: #F57D61;
}
#tabs li:hover{background-color: #6597e6;color: #fff;}
#llenado_encuesta .listado th{padding-right: 18px;}

.estado-ajax{
    cursor: pointer;
}
.delete_user{
    cursor: pointer;
}
#user-estado{
    cursor: inherit;
}

.portlet-body{width: 100%}
.tabs>div{min-width: 650px;}
.tabs{
    overflow-x: auto;}

.calificacion th,.calificacion td,.criterios th,.criterios td{padding: 5px;}



#llenado_encuesta .listado th, .listado td {
    padding: 10px 18px;
    border: 1px solid #DBDEE0;
    text-align: left;
    font-size: 12px;
}
.listado td div{
    width: 100%;overflow: hidden;
}
.listado td div span{
    display: inline-block;float: left;
}
.reporte_detallado table th {
    color: white;
    background-color: #4594B9;
    font-size: 15px;
}

.reporte_detallado {
    padding: 20px 28px;
    background-color: #FFFFFF;
    margin: 10px 0px;
    border-radius: 8px;
}
.graficos{
    height: 500px;
}
.control-label.fa::before{
    font-size: 23px;
    padding-right: 10px;
    color: #5cb811;
}

#reportes table th {
    color: white;
    background-color: #4594B9;
    font-size: 15px;
}
#reportes .listado th, #reportes .listado td {
    padding: 10px 18px;
    border: 1px solid #B7BCBF;
    text-align: left;
    font-size: 12px;
}


#regiones li{    float: left;
    display: inline-block;
    width: 200px;}

.alert-danger {
    background-color: #EF6363;
    border-color: #EF6363;
    color: white;
}
.alert-success {
    background-color: #55c65e;
    border-color: #48b151;
    color: white;
}
.alert {
    padding: 15px;
    margin-bottom: 18px;
    border: 1px solid transparent;
    border-radius: 0;
    font-weight: bold;
}
p {
    margin: 0 0 9px;
}
.alert.alert-success:before {
    font-family: "FontAwesome";
    content: "\f058";
    font-size: 20px;
    vertical-align: -2px;
    padding-right: 7px;
}

#exportar{
    margin: 10px 0;
}
#exportar .fa{
    color: #1A4D9C;
    font-size: 17px;
}







.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background: #eaedf2;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    display: block;
    overflow: hidden;
    padding: 15px;
    letter-spacing: .5px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    color: #62878f;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>h3 {
    margin: 0;
    padding: 0;
    float: left;
    font-size: 13px;
    display: inline-block;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
    color: #337ab7;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external>a {
    display: inline-block;
    padding: 0;
    background: 0 0;
    clear: inherit;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    right: 10px;
    border: 0;
    margin-top: -1px;
}


.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li>a:hover .time {
    background: #e4e4e4;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .time {
    float: right;
    max-width: 75px;
    font-size: 11px;
    font-weight: 400;
    opacity: .7;
    filter: alpha(opacity=70);
    text-align: right;
    padding: 1px 5px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details {
    overflow: hidden;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-notification .dropdown-menu .dropdown-menu-list>li a .details .label-icon {
    margin-right: 10px;

}
.label.label-icon {
    padding: 4px 0 4px 4px;
    margin-right: 2px;
    text-align: center!important;
}
.label.label-sm {
    font-size: 13px;
    padding: 2px 5px;
}



.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li:first-child a {
    border-top: none;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    border-bottom: 1px solid #EFF2F6!important;
    color: #888;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu .dropdown-menu-list>li>a {
    display: block;
    clear: both;
    font-weight: 300;
    line-height: 20px;
    white-space: normal;
    font-size: 13px;
    padding: 16px 15px 18px;
    text-shadow: none;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .photo {
    float: left;
    margin: 0 6px 6px 0;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .photo img {
    height: 40px;
    width: 40px;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    -ms-border-radius: 50%!important;
    -o-border-radius: 50%!important;
    border-radius: 50%!important;
}
.img-circle {
    border-radius: 50%!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject {
    display: block;
    margin-left: 46px;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject .from {
    font-size: 13px;
    font-weight: 600;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox .dropdown-menu .dropdown-menu-list .subject .from {
    color: #5b9bd1;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .subject .time {
    font-size: 12px;
    font-weight: 400;
    opacity: .5;
    filter: alpha(opacity=50);
    float: right;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-inbox>.dropdown-menu .dropdown-menu-list>li .message {
    display: block!important;
    font-size: 12px;
    line-height: 1.3;
    margin-left: 46px;
}



.label-success {
    background-color: #36c6d3;
}
.label-warning {
    background-color: #F1C40F;
}
.label-info {
    background-color: #659be0;
}
.bold {
    font-weight: 700!important;
}




.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    z-index: 9;
}
.popup-container {
    margin: 30px auto;
    position: relative;
    background-color: #fff;
    width: 50%;
    padding: 30px;
    border-radius: 5px;
}