h1{text-align: center;font-size: 20px;}
h2{text-align: center}
.listado th,  .listado td {
    border: 1px solid #B7BCBF;
    text-align: left;
    font-size: 12px;
}
.listado th,  {
    text-align: center;
}
.listado td {
    padding-left: 2px;
}
table.listado th {
    color: white;
    background-color: #4594B9;
    font-size: 15px;
    text-align: center;
}
table{width: 100%;}
table th {
    text-align: center;
}
.reporte_detallado .listado th, .reporte_detallado .listado td {
    padding: 10px 18px;
    border: 1px solid #B7BCBF;
    text-align: left;
    font-size: 12px;
}