body {
    font-family: "Helvetica Neue", Helvetica, "Noto Sans", sans-serif, Arial, sans-serif;
    font-size: 12px;
    line-height: 1.42857143;
    color: #949494;
    background-color: #DE1C1C;
}
.login-page {
    background: #303641;
}
.login-content .logo{
    width: 255px;
    display: inline-block;
}
.login-page .login-header {
    position: relative;
    background: #373e4a;
    padding: 50px 0;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
}
.login-page .login-content {
    position: relative;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 0;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
}
.login-page .login-header .description {
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
}
.login-page .login-header.login-caret:after {
    position: absolute;
    content: '';
    left: 50%;
    bottom: 0;
    margin-left: -12.5px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 13px 12.5px 0 12.5px;
    border-color: #373e4a transparent transparent transparent;
    bottom: -13px;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
}
.login-page .login-form {
    position: relative;
    padding-top: 60px;
    -moz-transition: all 550ms ease-in-out;
    -o-transition: all 550ms ease-in-out;
    -webkit-transition: all 550ms ease-in-out;
    transition: all 550ms ease-in-out;
}
.login-page .login-form .form-group .input-group {
    background: #373e4a;
    border: 1px solid #373e4a;
    padding-top: 6px;
    padding-bottom: 6px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    margin: 20px 0px;
}
.input-group-addon {
    padding: 6px 12px;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    color: #555555;
    text-align: center;
    background-color: inherit;;
    border: none;
    border-radius: 3px;
    color: #919191;
    display: inline-block;
    display: block;
    float: left;line-height: 2.6;position: relative;
}
.input-group-addon:after {
    position: absolute;
    display: block;
    content: '';
    right: -15px;
    top: 0;
    height: 100%;
    width: 1px;
    background: #454a54;
    -webkit-transform: scaleY(.56);
    -moz-transform: scaleY(.56);
    -o-transform: scaleY(.56);
    -ms-transform: scaleY(.56);
    transform: scaleY(.56);
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group-addon, .input-group-btn, .input-group .form-control {
    display: table-cell;
}
.input-group .form-control {
    float: left;
    width: 70%;
    margin-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    margin-left: 20px;
    height: 42px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #ffffff;
    background-color: inherit;
    background-image: none;
    border: none;
    border-radius: 3px;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, -moz-box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}



.login-page .login-form .form-group .btn-login {
    border: 1px solid #454a54;
    text-align: left;
    padding: 15px 20px;
    font-size: 14px;
    margin-bottom: 20px;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.btn-primary {
    color: #ffffff;
    background-color: #303641;
    border-color: #303641;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.btn-info {
    color: #ffffff;
    background-color: #21a9e1;
    border-color: #21a9e1;
}
.login-page .login-form .form-group .btn-login:hover {
    background: #373e4a;
}
.login-page .login-form .form-group .btn-login i {
    float: right;
}
@media (min-width: 320px) and (max-width:920px){
    .login-page .login-content {
        width: 280px;
    }
    .login-page .login-header {
        padding: 10px 0;
    }
    .login-page .login-form {
        padding-top: 10px;
    }
    .login-page .login-content {
        padding: 5px 0;
    }
}