html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    box-sizing: border-box;
    /*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{text-decoration: none;color: inherit;}
body{min-width: 1200px;     font-family: sans-serif;
}
.head-con{
	height: 114px;
	background: url(../img/back-header2.png) top repeat-x;
	margin: 0 auto;
	width: 100%;
	overflow: hidden;
}
.nav-top{float: left;margin-top: 40px;margin-left:50px;}
.nav-top ul li{float: left;}
.nav-top ul li a:hover{background-color: #9c492a;}
.nav-top a {padding:10px 20px;color: #fff;}
.selecte{background-color: #9c492a;}
.sesion-top{float:right; padding: 0px 20px;    width: 298px;}
.usuario>div,.password>div{float: left;line-height: 25px;}
.usuario span,.password span{float: left;width: 110px;}
.usuario,.password,iniciar{overflow: hidden;}
.sesion-top input{margin-top:0px!important;width: 150px;float: left; padding: 2px;}
.sesion-top img{width: 110px;height: 25px;margin: 10px 10px;}
img{width: 100%;height: 100%;float: left;}
.sesion-top input[submit]{width: 50px;}
.seleccion{  width: 535px;;margin: 0 auto;overflow: hidden;}
.seleccion> div{float: left;margin: 0 10px;}
.button{  
margin: 0 auto;
width: 647px;
overflow: hidden;
padding: 10px 0;
text-align: center;
font-size: 18px;
margin-bottom: 40px;
}
.button>div{float: left;margin: 11px 38px 0;text-align: center;}
.titulo{
    font-size: 25px;
    text-align: center;
    font-weight: 800;
    color: #6A6A72;
    padding-top: 30px;
    padding-bottom: 15px;
}
.titulo-comunidad{
    font-size: 19px;
    text-align: left;
    font-weight: 800;
    color: #6A6A72;
    padding-top: 0px;
    padding-bottom: 5px;
}
.row{
    overflow: hidden;
    margin-top: 0px;
    text-align: center;
	padding: 10px 10px;
}
.tit{
    height: 34px;
    font-size: 18px;
    background-color:#3A9DCA;
    text-align: center;
    padding: 5px 0;
    color: #fff;
    margin-top: 0px;
}

.contenedor-global{  width: 1150px;;margin:47px auto;}
.glob{width: 900px;}
.row-cua,.row-val,.row-cali,.row-pon,.row-valo,.row-agr{float: left;text-align: center;margin: 0 8px;}
.row-agr{width: 20px;}
.row-cua{width: 204px;text-align: left;}
.row-val{width: 130px;}
.row-cali{width: 200px;}
.row-pon{width: 110px;}
.row-valo{width: 140px;}
.tit .row-cua{text-align: center;}
.suma{background-color: inherit;}
.prome{background-color: #115c8b;color: #fff;}
/*estilos para resumenes*/
.global-resumen{width: 1150px;margin: 0 auto;}
.global-resumen .contenedor-global{width: 1140px;}
.row-com,.row-glo,.row-calid,.row-ser,.row-inf,.row-ges,.row-con,.row-sop{float: left;margin: 0px}
.global-resumen .row{border-bottom: 1px solid;height: 37px;padding: 0px;}
.global-resumen .tit{padding: 0px;height: 50px;}

.tit .row-com{text-align: center;}
.row-com{width: 216px;text-align: left;}
.row-glo{line-height: 1.2;width: 116px;}
.row-calid,.row-ser,.row-inf,.row-ges,.row-con,.row-sop{line-height: 1.2;width: 134px;}


.graficos{
    width: 100%;
}

.caja100{
    float: left;
    margin:1%;
    width: 98%;
}

.caja50{
    float: left;
    margin:1%;
    width: 48%;
}

.caja50 .chart-container{
    height: 300px;
}

.caja100 .chart-container{
    height: 450px;
}

.chart-container{
    box-sizing: border-box;
    width: 100%;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.placeholder{
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

h1{
    font-weight: bold;
    margin:20px 0; 
    font-size: 180%;
    text-align: center;
}

h2{
    font-size: 160%;
}

h3{
    font-size: 140%;
}
h4{
    font-size: 130%;
}

.cajon{
    border: 1px solid #555;
    width: 60%;
    margin: 20px auto;
}
.cajon h2{
    margin: 5%;
    text-align: center;
}

input,div.texto {
    padding: 5px;
}
div.contenedor{
    margin: 5%;
    height: 29px;
}

div.texto, div.campo{
    float: left;
}
div.texto {
    width: 28%;
    padding: 6px;
}
div.campo{
    width: 69%
}
div.campo input{
    width: 96%;
}

div.campo select{
    padding: 5px;
    width: 100%;
}

.centrar{
    text-align: center;
}

.alerta{
    text-align: center;
    color: red;
}

input[type=radio]{
    width: 20px;
    height: 20px;
}
.presentacion{
    overflow: hidden;
    padding: 30px;
    width: 900px;
    margin: 40px auto;
    -webkit-box-shadow: 0px 0px 41px 5px rgba(158,155,158,1);
    -moz-box-shadow: 0px 0px 41px 5px rgba(158,155,158,1);
    box-shadow: 0px 0px 41px 5px rgba(158,155,158,1);
}
.presentacion p{
    margin-bottom: 20px;
    text-align: justify;
}

.sesion-top span{
    display: inline-block;
    width: 100%;
}
.sesion-top span label{
    width: 100px;float: left;
}
.sesion-top input{width: 150px!important;height: 25px;float: left;}
.sesion-top input[type=password] {
    width: 150px!important;
}
.sesion-top input[type=submit] {
    height: auto;
    width: auto!important;
    padding: 6px 12px;
    border-radius: 4px;
    margin-right: 10px;
}
.presentacion .tab-content{
    margin-top: 25px;
}
.nav-top a:hover, .nav-top a:focus {
    color: #fff;
    text-decoration: none;
}
.presentacion .nav-tabs>li.active>a,.presentacion .nav-tabs>li.active>a:focus,.presentacion .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #aecff7;
}
.presentacion .nav-tabs>li.active>a,.presentacion .nav-tabs>li.active>a:focus,.presentacion .nav-tabs>li.active>a:hover {
    color: #fff;
    background-color: #aecff7;
}