html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, select {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    box-sizing: border-box;
	/*vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html,body{height: 100%;}
body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;    font-size: 14px;    line-height: 1.42857;
}
img{width: 100%;height: 100%;}
a{text-decoration: none;color: inherit;}
#rigth{float: left;}
.input{
  width: 90%;
  border: 1px solid #B2D4F5;
  padding: 5px 5px;
  display: inline-block;
}
.page-title {
  margin: 25px 0;
  font-size: 24px;
  color: #666;
  padding: 0;
  letter-spacing: -1px;
  display: block;
  font-weight: 300;
}
.page-title small {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 300;
    color: #888;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}

.row:before,
.row:after
{
  display: table;
  content: " ";
}
.row:after
{
  clear: both;
}
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12{
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
@media (min-width: 992px){
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
        float: left;
      }
      .col12 {
        width: 100%;
      }
      .col11 {
        width: 91.66666667%;
      }
      .col10 {
        width: 83.33333333%;
      }
      .col9 {
        width: 75%;
      }
      .col8 {
        width: 66.66666667%;
      }
      .col7 {
        width: 58.33333333%;
      }
      .col6 {
        width: 50%;
      }
      .col5 {
        width: 41.66666667%;
      }
      .col4 {
        width: 33.33333333%;
      }
      .col3 {
        width: 25%;
      }
      .col2 {
        width: 16.66666667%;
      }
      .col1 {
        width: 8.33333333%;
      }
}
@media (min-width: 320px) and (max-width: 480px){
    .col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .colx12 {
        float: left;
      }
      .colx12 {
        width: 100%;
      }
      .colx11 {
        width: 91.66666667%;
      }
      .colx10 {
        width: 83.33333333%;
      }
      .colx9 {
        width: 75%;
      }
      .colx8 {
        width: 66.66666667%;
      }
      .colx7 {
        width: 58.33333333%;
      }
      .colx6 {
        width: 50%;
      }
      .colx5 {
        width: 41.66666667%;
      }
      .colx4 {
        width: 33.33333333%;
      }
      .colx3 {
        width: 25%;
      }
      .colx2 {
        width: 16.66666667%;
      }
      .colx1 {
        width: 8.33333333%;
      }
}
.center{text-align: center!important;}
.border{border: 1px solid #000;}
#llenado_encuesta table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
#llenado_encuesta .listado{
  margin-bottom: 20px;
}
#llenado_encuesta table th {
    color: white;
    background-color: #7fd17f;
    font-size: 18px;
}
.boton{
  position: relative;
    background-color: #6FB2EA;
    color: #fff;
    font-size: 15px;
}



.page-header.navbar {
    background-color: #333;
}
.page-header.navbar {
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    filter: none;
    background-image: none;
}
.page-header.navbar .page-logo {
    float: left;
    display: block;
    width: 235px;
    height: 46px;
    padding-left: 20px;
    padding-right: 20px;
}
.page-header.navbar .menu-toggler.sidebar-toggler {
    float: right;
    margin: 11px 0 0;
}
.page-header.navbar .menu-toggler {
    background-image: url(../img/sidebar_toggler_icon_darkblue.png);
}
.page-header.navbar .menu-toggler {
    display: block;
    cursor: pointer;
    opacity: .7;
    filter: alpha(opacity=70);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
}




/*css del top menu*/
.page-header.navbar .top-menu .navbar-nav>li.dropdown {
    margin: 0;
    padding: 0 4px;
    height: 46px;
    display: inline-block;
}
@media (min-width: 768px)
.navbar-nav>li {
    float: left;
}
.nav>li, .nav>li>a {
    display: block;
    position: relative;
}






.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    border-color: #e7eaf0;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu {
    min-width: 160px;
    max-width: 275px;
    width: 275px;
    z-index: 9995;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-menu {
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.nav.pull-right>li>.dropdown-menu, .nav>li>.dropdown-menu.pull-right {
    right: 0;
    left: auto;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.btn-group>.dropdown-menu, .dropdown-toggle>.dropdown-menu, .dropdown>.dropdown-menu {
    margin-top: 10px;
}
.dropdown-menu {
    box-shadow: 5px 5px rgba(102,102,102,.1);
    left: 0;
    min-width: 175px;
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    list-style: none;
    padding: 0;
    background-color: #fff;
    margin: 10px 0 0;
    border: 1px solid #eee;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.dropdown-menu, .icon-btn, a {
    text-shadow: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu:hover {
    display: block;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle .badge.badge-default {
    background-color: #36c6d3;
    color: #fff;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle>.badge {
    font-family: "Open Sans",sans-serif;
    position: absolute;
    top: 10px;
    right: 20px;
    font-weight: 300;
    padding: 3px 6px;
    
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    margin: 0;
    padding: 17px 10px 9px;
}
.badge {
    font-size: 11px!important;
    font-weight: 300;
    height: 18px;
    color: #fff;
    padding: 3px 6px;
    -webkit-border-radius: 12px!important;
    -moz-border-radius: 12px!important;
    border-radius: 12px!important;
    text-shadow: none!important;
    text-align: center;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #d5d9e0!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>img {
    float: left;
    width: 40px;
    margin-top: -5px;
    margin-right: 5px;
    height: 29px;
    display: inline-block;
}
.nav>li>a>img {
    max-width: none;
}
.img-circle {
    border-radius: 50%!important;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username{
    color: #c6cfda;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username {
    display: inline-block;
    font-size: 13px;
    font-weight: 300;
}