#reportes{
	width: 80%;
	margin: 0 auto;
	padding: 10px
}
.info_reporte{
	width: 100%;
	overflow-y:auto; 

}
.fil{
	text-align: center;
	margin-bottom: 10px;
}
#reportes #filtros div  {
    float: left;
    width: 100%;
    padding: 0px 10px;
}
.fil>span{    width: 132px;
    /* float: left; */
    margin: 0 5px;
    display: inline-block;}
.option>span{
	display: inline-block;
    text-align: center;
    width: 90px;
}
.option>span label{
	width: 100%;
}