<span style='color: #000'>25 frames</span>	<span style='color: #900'>8,192 KB</span>	<span style='color: #090'>109.11 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />